<div class="div-principal">
    <form action="" method="post">
        <div class="form-parts">
            <div class="user-part">
                <label for="usuario">Usuario</label>
            </div>
            <div class="user-part-input">
                <input type="text" name="username" placeholder="User">
            </div>
            <div class="pass-part">
                <label for="contraseña">Contraseña</label>
            </div>
            <div class="pass-part-input">
                <input type="password" name="password" id="contraseña_id" placeholder="Password">
            </div>
            <div class="input-button">
                <input type="submit" >
            </div>
        </div>
    </form>
</div>