.div-principal{
    background-color: #f2f2f2;
}
.div-info{
    text-align: center;
    display: inline-block;
    background-color: #ddd;
    border: #ddd solid 1px;
    border-radius: 1em;
    margin: 1em;
}