<div>
    <nav>
        <div>
            <ul>
                <div>
                    <li class="nav-li"><a routerLink="">Facultades</a></li>
                    <li class="nav-li"><a routerLink="">Sedes</a></li>
                    <li class="nav-li"><a routerLink="">Investigaciones</a></li>
                    <li class="nav-li"><a routerLink="">Investigadores</a></li>
                </div>
            </ul>
        </div>
    </nav>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>inicio</th>
                <th>fin</th>
                <th>estado</th>
                <th>tema</th>
                <th>descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>




