<div class="div-principal">
    <div class="h1">
        <h1>Detalles de la investigacion</h1>
    </div>
    <div class="div-info">
        <h2 class="h2">Fecha de inicio: </h2>
        <p class="p">Fecha de inicio</p>
    </div>
    <div class="div-info">
        <h2 class="h2">Fecha de finalización: </h2>
        <p class="p">finalizacion</p>
    </div>
    <div class="div-info">
        <h2 class="h2">Estado:</h2>
        <p class="p">terminado</p>
    </div>
    <div class="div-info">
        <h2 class="h2">Tema: </h2>
        <p class="p">tema</p>
    </div>
    <div class="div-info">
        <h2 class="h2">Descripcion: </h2>
        <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Provident laborum explicabo pariatur quo rerum consequatur iste,
              magni tempora dolor magnam ducimus dicta dolorum odio optio?
               Veritatis, vitae? Omnis, explicabo voluptates.</p>
    </div>

</div>
<!--
    <td class="td">{{investigacion.inicio}}</td>
<td class="td">{{investigacion.fin}}</td>
<td class="td">{{investigacion.estado}}</td>
<td class="td">{{investigacion.tema}}</td>
<td class="td">{{investigacion.descripcion}}</td>
<td class="td"><button>Volver a la tabla</button></td>
-->